Question2. WAP using Pandas to split the following dataframe into groups based on school code.

     school class            name date_Of_Birth   age  height  weight  address
     s002     V      Kanika Goel     17/05/2002   12    192      32  street2
     s003    VI       Richa Jain     16/02/1999   13    186      33  street3
     s001    VI       Ananya Jha     25/09/1998   13    167      30  street1
     s002     V    Deepika Gupta     11/05/2002   14    151      31  street2
     s004    VI    Karishma Khan     15/09/1997   12    159      32  street4

In [14]:
import pandas as pd
school = pd.DataFrame({
    'School_code': ['s002','s003','s001','s002','s004'],
    'Class': ['V', 'VI', 'VI', 'V', 'VI'],
    'Name': ['Kanika Goel','Richa Jain','Ananya Jha', 'Deepika Gupta', 'Karishma Khan'],
    'DOB ': ['17/05/2002','16/05/1999','25/09/1998','11/05/2002','15/09/1997'],
    'Age': [12, 13, 13, 14, 12],
    'Height': [ 192, 186, 167, 151, 159],
    'Weight': [32, 33, 30, 31, 32],
    'Address': ['street2', 'street3', 'street1', 'street2', 'street4']},index=['S1', 'S2', 'S3', 'S4', 'S5'])

print("Original DataFrame:")
print("-------------------------------------------------------------------------------")
print(student_data)
print('\nAfter splitting the School data school_code wise:')
result = school.groupby(['School_code'])
for name,group in result:
    print("\nGroup:"+name)
    print("---------------------------------------------------------------------------")
    print(group)
    print("---------------------------------------------------------------------------")

Original DataFrame:
-------------------------------------------------------------------------------
   school_code class           name        DOB   age  height  weight  address
S1        s002     V    Kanika Goel  17/05/2002   12     192      32  street2
S2        s003    VI     Richa Jain  16/05/1999   13     186      33  street3
S3        s001    VI     Ananya Jha  25/09/1998   13     167      30  street1
S4        s002     V  Deepika Gupta  11/05/2002   14     151      31  street2
S5        s004    VI  Karishma Khan  15/09/1997   12     159      32  street4

After splitting the School data school_code wise:

Group:s001
---------------------------------------------------------------------------
   School_code Class        Name        DOB   Age  Height  Weight  Address
S3        s001    VI  Ananya Jha  25/09/1998   13     167      30  street1
---------------------------------------------------------------------------

Group:s002
---------------------------------------------------------------------------
   School_code Class           Name        DOB   Age  Height  Weight  Address
S1        s002     V    Kanika Goel  17/05/2002   12     192      32  street2
S4        s002     V  Deepika Gupta  11/05/2002   14     151      31  street2
---------------------------------------------------------------------------

Group:s003
---------------------------------------------------------------------------
   School_code Class        Name        DOB   Age  Height  Weight  Address
S2        s003    VI  Richa Jain  16/05/1999   13     186      33  street3
---------------------------------------------------------------------------

Group:s004
---------------------------------------------------------------------------
   School_code Class           Name        DOB   Age  Height  Weight  Address
S5        s004    VI  Karishma Khan  15/09/1997   12     159      32  street4
---------------------------------------------------------------------------